          <div class="news">
            <br/>
            <h2>Academic Service</h2>
            <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
            {% for item in site.data.services %}
                <tr>
                  <th scope="row">{{item.title}}: </th>
                  <td>
                    {% for m in item.contents %}
                            <a href="{{m.url}}">{{m.name}}</a> {% if forloop.last == false %}, {% endif %}
                    {%- endfor %}
                  </td>
               </tr>
            {%- endfor %}
              </table>
            </div>
          </div>

